.Todo{
      .tableRightBorder {
            border-width: 0px;
            border-right-width: 1px;
            border-color: black;
            border-style: solid;
      }
      .table {
            border: 1px;
            column-gap: 1px;
      }
      .buttonAlignment {
            align-items: center;
      }
      .ColumnStyle {
            border: 1px solid black;
      }
      .textAlign {
            text-align: center;
      }
}