.TaskModal {
      .modal {
            display: flex;
            align-items: center;
            justify-content: center;
      }
      .paper {
            background-color: red;
            border: 2px solid #000;
            padding: 2px;
      }
}